.element__subtitle {
  margin: 0;
  padding-top: 8px;
  padding-right: 25px;
  padding-bottom: 32px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.06em;
  width: 371px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .element__subtitle {
    padding-right: 5px;
    width: 228px;
    min-height: 24px;
    font-size: 10px;
    line-height: 13px;
    padding-bottom: 15px;
    padding-top: 3px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .element__subtitle {
    padding-right: 5px;
    width: 228px;
    min-height: 24px;
    font-size: 10px;
    line-height: 13px;
    padding-bottom: 25px;
    padding-top: 3px;
  }
}
