.item-container__back-button {
  display: none;
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  .item-container__back-button {
    display: flex;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .item-container__back-button {
    display: flex;
  }
}
