@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

.app {
  background-color: #020405;
}

.page {
  min-width: 375px;
  max-width: 2560px;
  margin: 0 auto;
  font-family: 'Montserrat', 'Arial', sans-serif;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  margin: 0;
  box-sizing: border-box;
  padding-left: 160px;
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-left: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
  }
}

.header__logo {
  width: 80px;
  height: 80px;
  align-self: flex-end;
  padding-left: 24px;
  padding-bottom: 26px;
}

.header__nav-container {
  margin: 0;
  padding: 58px 405px 46px 56px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__route-links {
    padding: 0;
    padding-top: 15px;
    width: 320px;
    flex-direction: column;
    align-items: center;
  }
}


.nav-box {
  padding-bottom: 88px;
}


.nav-box__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-box__item {
  padding-right: 32px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}

.nav-box__item:last-child {
  padding-right: 0;
}

.nav-box__link {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .search-bar {
    max-width: 900px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-bar {
    max-width: 700px;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .search-bar {
    max-width: 400px;
    min-height: 360px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .search-bar {
    max-width: 300px;
    min-height: 360px;
  }
}

.pc-types__pages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.pc-types__page {
  padding-right: 65px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
}

.pc-types__page:last-child {
  padding-right: 0;
}

.pc-types__link {
  text-decoration: none;
  color: inherit;
}


.header__location {
  margin: 0;
  padding-right: 56px;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-bar__buttons {
    flex-direction: column;
  }
}

.header__location-icon {
  width: 16px;
  height: 20px;
  padding-right: 8px;
  padding-top: 58px;
}

.header__location-title {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  padding-top: 54px;
  color: #B3BFCD;
}

.header__phone-box {
  margin: 0;
  display: flex;
}

.header__phone-icon {
  width: 32px;
  height: 32px;
  padding-right: 16px;
  padding-top: 57px;
}

.header__phone {
  margin: 0;
  padding-top: 60px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
}

.header__profile-box {
  margin: 0;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__profile-icon {
  width: 64px;
  height: 64px;
  padding: 43px 19px 0 56px;
}

.header__edit-icon {
  width: 40px;
  height: 40px;
  padding-right: 35px;
}

.header__basket-icon {
  width: 40px;
  height: 40px;
  padding-right: 19px;
}






.basket {
  margin: 0;
  box-sizing: border-box;
  padding: 64px 0 72px 160px;
  display: flex;
}

.basket__image {
  width: 66px;
  height: 66px;
}

.basket__text-box {
  margin: 0;
  flex-grow: 1;
  display: flex;
  padding-right: 230px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basket__title {
  margin: 0;
  padding-top: 15px;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 46px;
  line-height: 52px;
  height: 93px;
  width: 354px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border-bottom: 3px solid #D43C38;
  box-shadow: 0px 4px 4px rgba(212, 60, 56, 0.5);
}

.basket__subtitle {
  margin: 0;
  padding-top: 24px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 24px;
  line-height: 56px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.basket__capture {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 46px;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}






.elements {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.element {
  margin: 0;
  margin-right: 70px;
  padding-top: 43px;
  width: 427px;
  min-height: 643px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 0px 20px rgba(212, 60, 56, 0.5));
  background: #0C1117;
}

.element:last-child {
  margin-right: 0;
}

.element:first-child {
  padding-top: 30px;
}

.element__active {
  border: 2px solid #D43C38;
}

.element__image {
  background: radial-gradient(51.84% 58.28% at 42.63% 71.6%, #3A3C59 0%, #0C1117 100%);
  border-radius: 27.2621px;
}

.element__title {
  margin: 0;
  padding-top: 20px;
  padding-right: 15px;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 25.8788px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 320px;
}

.element__title_position_second {
  padding-top: 45px;
}

.element__title_position_third {
  padding-top: 40px;
  padding-left: 40px;
}

.element__subtitle {
  margin: 0;
  padding-top: 8px;
  padding-right: 25px;
  padding-bottom: 32px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.06em;
  width: 371px;
}

.element__subtitle_position_second {
  padding-top: 25px;
  padding-bottom: 25px;
}

.element__subtitle_position_third {
  padding-top: 22px;
  padding-left: 40px;
  padding-bottom: 45px;
}

.element__button {
  margin: 0;
  background-color: #0C1117;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 221px;
  height: 68px;
  border: 2px solid #D43C38;
  outline: none;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  filter: drop-shadow(0px 0px 4px #D43C38);
  align-self: flex-start;
  margin-left: 90px;
}

.element__button_position_third {
  margin-left: 112px;
}
