@media screen and (min-width: 375px) and (max-width: 425px) {
  .item-container {
    display: flex;
    justify-content: space-between;
    padding: 0 9px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .item-container {
    display: flex;
    justify-content: center;
    padding: 0 9px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
}
